Repository ironcore-dev/metal-operator, pull requests merged in 2025-01, with the labels that each got.

#216 Fix controllerutil.CreateOrPatch() calls
  api/v1alpha1/zz_generated.deepcopy.go
  internal/controller/bmc_controller.go
  internal/controller/endpoint_controller.go
  internal/controller/server_controller.go
  internal/controller/serverclaim_controller.go
Labels: bug, size/L, api-change

#219 Add `metal` user and SSH Keypair during `Discovery` boot
  .github/workflows/lint.yml
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/metal.ironcore.dev_bmcs.yaml
  config/crd/bases/metal.ironcore.dev_bmcsecrets.yaml
  config/crd/bases/metal.ironcore.dev_endpoints.yaml
  config/crd/bases/metal.ironcore.dev_serverbootconfigurations.yaml
  config/crd/bases/metal.ironcore.dev_serverclaims.yaml
  config/crd/bases/metal.ironcore.dev_servers.yaml
  go.mod
  internal/controller/helper.go
  internal/controller/server_controller.go
  internal/controller/server_controller_test.go
  internal/controller/testdata/ignition.go
  internal/ignition/default.go
Labels: enhancement, size/L, api-change

#222 Apply `BMC` labels to `Server` on creation
  internal/controller/bmc_controller.go
  internal/controller/bmc_controller_test.go
Labels: enhancement, size/XS

#223 Make `MACAddress` field in `BMC` `InlineEndpoint` optional
  api/v1alpha1/endpoint_types.go
  config/crd/bases/metal.ironcore.dev_endpoints.yaml
Labels: enhancement, api-change, size/XS

#224 Make `macAddress` field in BMC `InlineEndpoint` optional
  api/v1alpha1/bmc_types.go
  config/crd/bases/metal.ironcore.dev_bmcs.yaml
Labels: enhancement, api-change, size/XS

#225 Revert "Make `MACAddress` field in `BMC` `Endpoint` optional"
  api/v1alpha1/endpoint_types.go
  config/crd/bases/metal.ironcore.dev_endpoints.yaml
Labels: bug, api-change, size/XS

#228 Free up `Server` if referenced `ServerClaim` does not exist
  internal/controller/server_controller.go
Labels: size/S

#229 Install `docker-cli` in `metalprobe` service
  internal/ignition/default.go
Labels: bug, size/XS
