Repository ironcore-dev/metal-operator, pull requests merged in 2025-08, with the labels that each got.

#414 Fix RBAC for `BIOSVersionSet`
  api/v1alpha1/biosversionset_types.go
  config/crd/bases/metal.ironcore.dev_biosversionsets.yaml
  config/rbac/role.yaml
  dist/chart/templates/crd/metal.ironcore.dev_biosversionsets.yaml
  dist/chart/templates/rbac/role.yaml
  docs/api-reference/api.md
  internal/controller/biosversionset_controller.go
Labels: bug, documentation, api-change, size/M

#411 Add `BIOSVersion` to `Server` status
  api/v1alpha1/server_types.go
  config/crd/bases/metal.ironcore.dev_servers.yaml
  dist/chart/templates/crd/metal.ironcore.dev_servers.yaml
  docs/api-reference/api.md
  internal/controller/server_controller.go
  internal/controller/server_controller_test.go
  internal/controller/suite_test.go
Labels: documentation, enhancement, api-change, size/M, area/metal-automation

#422 Add transition condition to powering a Server
  internal/controller/server_controller.go
  internal/controller/server_controller_test.go
Labels: enhancement, size/M

#403 Add ability to set BIOS settings in sequence
  api/v1alpha1/biossettings_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/metal.ironcore.dev_biossettings.yaml
  config/samples/metal_v1alpha1_biossettings.yaml
  dist/chart/templates/crd/metal.ironcore.dev_biossettings.yaml
  docs/api-reference/api.md
  internal/controller/biossettings_controller.go
  internal/controller/biossettings_controller_test.go
  internal/controller/suite_test.go
  internal/webhook/v1alpha1/biossettings_webhook.go
  internal/webhook/v1alpha1/biossettings_webhook_test.go
Labels: documentation, enhancement, api-change, size/XXL, area/metal-automation

#443 Add `GetProcessors` method to BMC interface and update `Server.Status` update
  bmc/bmc.go
  bmc/redfish.go
  internal/controller/server_controller.go
Labels: enhancement, size/L, api-change, area/metal-automation

#440 Fix annotation constant
  api/v1alpha1/constants.go
Labels: size/XS, chore, area/metal-automation
